<ion-header>

  <ion-navbar >
    <ion-title>Adega de Vinhos</ion-title>

    <ion-buttons end>
   
      <button ion-button icon-only (click)="deleteAll(size)">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only (click)="export(wines)">
        <ion-icon name="cloud-download"></ion-icon>
      </button>
    </ion-buttons>
  
  </ion-navbar>
  <ion-searchbar placeholder="Pesquisar" class="custom-searchbar" debounce="400" (ionInput)="filter(search.value)" #search></ion-searchbar>
  <div class="progress-bar" [style.width]="loadProgress +'%'" ></div>
</ion-header>

<ion-content no-padding class="bg-primary">
  <ion-row *ngIf="noResults">
    <ion-col>
      <div text-center>
        <h2 class="color-soft">Nenhum Vinho foi encontrado</h2>
      </div>
    </ion-col>
  </ion-row>

  <ion-card class="custom-card" *ngFor="let wine of wines" (click)="openDetails(wine)">
    <ion-card-content>
      <ion-row>
        <ion-col col-4>
          <div class="wine-label" item-left>
            <img src="{{ wine?.image | defaultImage: wine.type }}">
            <div class="circle"></div>
          </div>
        </ion-col>
  
        <ion-col col-8 padding-left>
          <h2 text-wrap>{{wine.name}}</h2>
          
          <ion-row>
            <ion-col>
              <div class="icon-box">
                <ion-icon class="{{ wine.type | defaultGlass }}" item-left></ion-icon>
                <span>{{ wine.type }}</span>
              </div>
            </ion-col>
            <ion-col>
              <div class="icon-box">
                <ion-icon class="wine-barrel" item-left></ion-icon>
                <span>{{ wine.harvest }}</span>
              </div>
            </ion-col>
          </ion-row>
 
          <ion-chip>
            <ion-avatar>
              <img src="{{ wine.country_iso | defaultFlag }}" class="flag">
            </ion-avatar>
            <ion-label>{{ wine.country_name }}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-card-content>

  </ion-card>

  <ion-fab bottom right>
    <button ion-fab mini color="secondary" (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
